.main{
    background-color: #FBE8D3;
    margin: 0px;
}
header{
    width: 100%;
    height: 120px;
    background-color: #F85F73; 
    
}
.main1{
    margin-top:40px;
    background-color: #17B978;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    
}

.Logo{
    margin: 0px;
    height: 100px;
    width: 300px;
}
.Name{
    color: white;
    padding: 0%;
    margin:0%;
    top: 0px;
    font-size: 87px;
    width: 300px;
}

.Switch{
    width: 140px;
    height: 20px;
    background-color: #3F5888;
    border-color: white;
    margin: 0px;
    color: white
    
}
.Switch1{
    width: 140px;
    height: 20px;
    background-color: #FBE8D3;
    border-color: white;
    color: black;
    margin: 0px;
    
}
 

h2{
    margin: 0px;
    margin-left: 15px;
    font-family: Arial Black;
        
        
}
ul{
   
}

@media(max-width:720px){
    .cart-container{
        margin-left: 0%;
        margin-right: 0%;
  }
}


.cart-container {
    display: flex;
    justify-content: space-between;
    background-color: #C1BAC4;
    padding: 12.5px;
    margin: 0.4%;
    margin-top: 2%;
    
}

.details {
    display: flex;
    align-items: flex-end;
}

.details a {
    background: #3F5888;
    color: black;
    padding: 12.5px 25.5px;
    text-decoration: none;
    font-family: Arial Black;
    
}

.details a:hover {
    background: #086972;
    color: white;
    transition: 0.5s;
}


