.main{
    background-color: #DCEDC2;
    margin: 0px;
}
.header1{
    width: 100%;
    height: 100px;
    background-color: #FFAAA6; 
    
}
.Logo{
    margin: 0px;
    height: 100px;
    width: 300px;
}
.Name{
    color: white;
    padding: 0%;
    margin:0%;
    top: 0px;
    font-size: 87px;
    width: 300px;
}
.Other{
position: absolute;
width: 65px;
height: 65px;
right: 5px;
top: 7.5px;
margin: 10px;
background: #FF8C94;
border-radius: 100px;
border: none;
font-size: 30px;
color: white;
font-size: 20px;

transition: 1s ease-out;
transition-delay: 4s;
}
.Telefon{
position: absolute;
width: 65px;
height: 65px;
right: 5px;
top: 7.5px;

background-color: #FF8C94;

}
.Other p{
transform: translateY(-200%);

}
.a{
position: absolute;
width: 65px;
height: 65px;
right: -9.6px;
top: -9px;
margin: 10px;
background: #FF8C94;
border-radius: 100px;
border: none;
font-size: 30px;
background-color: white;
font-size: 20px;
transform: translateY(-300%);
transition: all 2s ease-out;

}
.b{
    position: absolute;
width: 65px;
height: 65px;
right: -9.6px;
top: -9px;
margin: 10px;
background: #FF8C94;
border-radius: 100px;
border: none;
font-size: 30px;
background-color: white;
font-size: 20px;
transform: translateY(-150%);
transition: all 2s ease-out;

}
.Other:hover{
transform: translateY(300%);
transition: all 1s ease 0.2s;
}