.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBE8D3;
    min-height: 100vh;
    margin: 0px;
}
.Word{

    background-color: #C1BAC4;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 5px;
    width: 490px;
        
}
h1{
    color: white;
    padding: 0%;
    margin:0%;
    font-size: 87px;
    text-align: center;
    background-color: #F85F73;
}
.box{
      display: flex;
      align-items:flex-end;
      justify-content:center;
      
}
.text-box1{
      margin-top: 40px;
      margin-left: 0px;
      width: 380px;
}
.text-box{
      display: flex;
      align-items: flex-start;
      justify-content:center;
       margin: 0px;
      width: 80px
}
h2{
    font-size: 40px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details {
    display: flex;
    justify-content:flex-end
}

.details a {
    background: #3F5888;
    color: white;
    padding: 12.5px 25.5px;
    text-decoration: none;
    font-family: Arial Black;
    margin: 5px;
}

.details a:hover {
    background: #086972;
    color: white;
    transition: 0.5s;
}

@media(max-width:720px){
    .Word{
        width: 350px;
    }
    .text-box1{
        width: 250px;
    }
}